@font-face {
        font-family: "poppins";
        src: url(./poppins/Poppins-Light.ttf);
}

* {
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
}
body {
        background-image: url(./images/salle2.jpg);
        background-size: cover;
        width: 100vw;
        height: 100vh;
        font-family: "poppins";
}
.login {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 50%;
        left: 50%;
        padding: 40px;
        backdrop-filter: blur(3px);
        transform: translate(-50%, -50%);
        text-align: center;
        border-radius: 15px;
        font-size: 1.5rem;
        line-height: 1;
}
.login label {
        font-size: 2rem;
}
.login h1 {
        background-color: white;
        color: rgb(0, 0, 0);
        font-size: 3rem;
        padding: 20px;
}
.login h2 {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        padding: 20px;
}
.login input {
        display: block;
        margin: 20px auto;
        outline: none;
        background-color: white;
        border-color: transparent;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 5px 5px;
        width: 80%;
        border-bottom: 3px solid rgb(255, 255, 255);
        font-size: 1.5rem;
}
.login input[type="submit"],
.login input[type="reset"] {
        background-color: white;
        color: rgb(0, 0, 0);
        padding: 10px 30px;
        border: 3px solid #fff;
        margin: 15px;
        transition: 0.5s;
}
.login input[type="submit"]:hover,
.login input[type="reset"]:hover {
        background-color: rgb(0, 0, 0);
        transform: scale(1.1);
        color: white;
}
.options {
        display: flex;
        justify-content: center;
}
.login a {
        font-size: 1rem;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        padding: 20px;
        font-family: Arial, Helvetica, sans-serif;
}
.login .input-text {
        position: relative;
        display: flex;
        align-items: center;
        border-radius: 5px;
}
.login .input-password {
        position: relative;
        display: flex;
        align-items: center;
}
.close-login {
        background-color: transparent;
        border: 0;
        position: absolute;
        top: 20px;
        right: 20px;
}
.login .eye {
        background-color: transparent;
        border: none;
        height: 15px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: invert(100%);
}
.login .identifiant {
        display: flex;
        flex-direction: column;
}
.input-text p {
        font-size: 15px;
        padding: 5px;
}
::placeholder {
        color: rgb(0, 0, 0);
        background-color: white;
}
@media screen and (max-width: 960px) {
        .login {
                width: 60%;
                justify-content: space-evenly;
        }
        .login h1 {
                font-size: 1.3rem;
        }
        .login input[type="text"],
        .login input[type="password"] {
                width: 100%;
        }
}
@media screen and (max-width: 600px) {
        .login {
                width: 100%;
                height: 100%;
                border-radius: 0;
        }
}
@media screen and (max-height: 600px) {
        .login h1 {
                font-size: 1rem;
        }
}
